<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

<h2>Edit Concert:</h2>

<%=@concert.band%><br>
<%=@concert.venue%><br>
<%=@concert.date%><br></br>

<form method="post" action="/concerts/<%=@concert.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <p>Band: <input type="text" name="band"></p>
  <br>

  <p>Venue: <input type="text" name="venue"></p>
  <br>

  <p>Date: <input type="date" name="date"></p>
  <br>

  <input type="submit" value="submit">
</form>
